:root {
    font-size: 1.3em;
}

#app{
    background-color: rgb(247, 225, 185);
    min-height: 900px;
}

.welcomeImage{
    position:relative;
}
.imgBookshelf{
    position:absolute;
    margin-top:55px;
 }