:root {
    font-size: 1.3em;
}

#app{
    background-color: rgb(247, 225, 185);
    min-height: 900px;
}

.welcomeImage{
    position:relative;
}
.imgBookshelf{
    position:absolute;
    margin-top:55px;
 }
 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
  }
input{
    text-indent:40px;
}
.input-wrapper {
    position: relative;
  }
  .input-icon {
    position: absolute;
    left: 20px;
    top: 50px;
    font-size: 25px;
  }
.accountImg{
    min-width: 400px;
}